<div id="tasks-list" class="col-2">
    <ul class="list-group">
        <li class="list-group-item border-0 list-group-item-action">
            <a class="text-secondary"
               href="javascript:void(0);"
               onclick="renderParams('remove_empty_tests');">
                Remove empty tests
            </a>
        </li>
        <li class="list-group-item border-0 list-group-item-action">
            <a class="text-secondary"
               href="javascript:void(0);"
               onclick="renderParams('remove_empty_runs');">
                Remove empty runs
            </a>
        </li>
        <li class="list-group-item border-0 list-group-item-action ">
            <a class="text-secondary"
               href="javascript:void(0);"
               onclick="renderParams('handle_old_checks');">
                Handle old Checks
            </a>
        </li>
        <li class="list-group-item border-0 list-group-item-action ">
            <a class="text-secondary"
               href="javascript:void(0);"
               onclick="renderParams('task_handle_database_consistency');">
                Handle Database Consistency
            </a>
        </li>
        <li class="list-group-item border-0 list-group-item-action ">
            <a class="text-secondary"
               href="javascript:void(0);"
               onclick="renderParams('remove_old_logs');">
                Remove old logs
            </a>
        </li>
<!--        <li class="list-group-item border-0 list-group-item-action">-->
<!--            <a class="text-secondary" href="javascript:void(0);" onclick="renderParams('migration_1_1_0');">-->
<!--                migration_1_1_0-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</div>

<div id="tasks-results" class="col-8"
     style="overflow-y: scroll; ">
    <div id="form-wrapper" class="form p-1">
        <form id="params-form" action="#"></form>
    </div>
    <pre class="text-light text-truncate text-wrap" id="tasks-output"
         style="font-family: 'Courier New', monospace;
         height: 300px;
         background-color: #1b1e21;
         white-space: pre-wrap !important;
         overflow-y: scroll">
    </pre>
</div>
