<? //Object.values(checksByTestGroupedByIdent).forEach(function(test){ ?>
<? for(const test of Object.values(checksByTestGroupedByIdent)){ ?>
<? //if(!checksByTestGroupedByIdent[test.id][groupName]['checks'].length < 1) continue; ?>

<!--TEST_INFO START-->
<div name="testinfo"
     class="testinfo testinfo_<?= test.id ?> row  py-2 test-row pr-0 button btn-light border-secondary1 m-0 w-100">
    <div class="cell-input cell col-1 col-lg-auto border-bottom1 border-right1 text-truncate small d-flex align-items-center ">
        <input id="<?= test.id ?>"
               name="test"
               type="checkbox">
    </div>
    <? const statusesClassesBg = {
                    Failed: 'bg-danger',
                    Passed: 'bg-success',
                    Unresolved: 'bg-warning',
                    Running: 'bg-info',
                    New: 'bg-success font-weight-bold'
                }
     ?>

    <div class="cell-status <?= statusesClassesBg[test.status] ?> cell col-auto pl-1 pr-0 border-0  text-truncate">
        <? const statusesClasses = {
                    Failed: 'text-danger',
                    Passed: 'text-success',
                    Unresolved: 'text-warning',
                    Running: 'text-info',
                    New: 'text-success font-weight-bold'
                }
        ?>


        <span name="cell-status" id="<?= test.id ?>_cell-status"
              style="display: none"
              class="<?= statusesClasses[test.status] ?> small bg-gu"
              data-toggle="tooltip"
              data-placement="top"
              title="<?= test.status ?>"><?= test.status ?></span>
        <span data-toggle="tooltip" data-original-title="<?= test.blinking ?>">
                    <? if(test.blinking > 0) { ?>
                        <img src="../../../../static/blinking.png" class="img-fluid blink-icon" alt="blink">
            <? } ?>
        </span>
    </div>
    <div class="cell-name cell col-4 col-lg-4 border-bottom1 border-right1 text-truncate"
         data-toggle="collapse" style="cursor: pointer" onclick="drawTestChecksPreviews('<?= test.id ?>');"
         data-target="#testchecks_<?= test.id ?>" id="test-checks-wrapper_<?= test.id ?>">
        <div class="row">
            <div class="col">
                <a data-toggle="collapse" class="collapsing1" href="#testchecks_<?= test.id ?>"
                   onclick="//drawTestChecksPreviews('<?= test.id ?>'); ">
                                <span name="cell-name" id="<?= test.id ?>_cell-name" class="text-secondary small"
                                      data-toggle="tooltip"
                                      data-placement="top"
                                      title="<?= test.name ?>"><?= test.name ?></span>
                </a>
            </div>
        </div>
        </a>

    </div>
    <? const acceptedStatus = test.markedAs  ? test.markedAs : 'Unaccepted' ?>
    <div class="cell-accepted-state cell col-1 border-bottom1 border-right1 text-truncate">
        <div class="row justify-content-end">
            <div class="col-auto pr-2 pl-2 mr-1 mb-1 border rounded">
                <small class="text-secondary check-accept-label-test-id_<?= test.id ?>"
                       style="font-size: 80%"><?= acceptedStatus ?></small>
            </div>
        </div>
    </div>
    <div class="cell-date cell col-2 border-bottom1 border-right1 text-truncate">
                                <span name="cell-date" id="<?= test.id ?>_cell-date" class="text-primary small"
                                      data-toggle="tooltip"
                                      data-placement="top"
                                      title="<?= test.formattedUpdatedDate ?>"><?= moment(test.updatedDate).format('YYYY-MM-DD hh:mm'); ?>
                                </span>
    </div>
    <div class="cell-browser cell col-1 col-lg-1 pl-2 pr-1 border1-bottom border-right1 text-truncate">
        <? const browserVersion =  (test.browserVersion === 'undefined') ? '?' : test.browserVersion?>
        <span name="cell-browser" id="<?= test.id ?>_cell-browser" class="text-primary small"
              data-toggle="tooltip"
              data-placement="top"
              title="<?= test.browserName ?> <?= test.browserVersion ?>"><?= test.browserName ?></span> <sup
                class="text-secondary"><?= browserVersion ?></sup>
    </div>
    <div class="cell-platform cell col-1 pl-1 col-lg-1 border-bottom1 border-right1 text-truncate">
        <i class="fab fa-apple"></i>
        <span name="cell-os" id="<?= test.id ?>_cell-os" class="text-primary small"
              data-toggle="tooltip"
              data-placement="top"
              title="<?= test.os ?>"><?= test.os ?></span>
    </div>
    <div class="cell-viewport cell col-1 border-bottom1 pr-0 text-truncate">
        <? let viewport; ?>
        <? let toolTip; ?>
        <? if(!test.calculatedViewport || !test.calculatedViewport.includes('x')) { ?>
        <? viewport = '≠'; ?>
        <? toolTip = `there is ${test.calculatedViewport} different viewports in this test`; ?>
        <? } else { ?>
        <? viewport = test.calculatedViewport; ?>
        <? toolTip = `${test.calculatedViewport} - all checks in this test has the same viewport`; ?>
        <? } ?>
        <span name="cell-viewport" id="<?= test.id ?>_cell-viewport" class="text-primary small"
              data-toggle="tooltip"
              data-placement="top"
              title="<?= toolTip ?>"><?= viewport ?></span>
    </div>
</div>
<!--TEST_INFO END-->

<!-- CHECKS START -->
<div name="checks-previews" class="all-checks row w-100 m-0 collapsing "
     id="testchecks_<?= test.id ?>">

    <!--  foreach checks start-->
    <? //Object.keys(checksByTestGroupedByIdent[test.id]).forEach(function(groupName, ind){ ?>
    <? // console.log(Object.keys(checksByTestGroupedByIdent[test.id])) ?>

    <? for(const [index, groupName] of Object.keys(checksByTestGroupedByIdent[test.id]).filter(x =>
    x.includes('ident')).entries()){ ?>
    <? //if(!checksByTestGroupedByIdent[test.id][groupName]) continue; ?>
    <? // console.log({groupName}) ?>
    <? const group = checksByTestGroupedByIdent[test.id][groupName]['checks'] ?>
    <? // console.log({group}) ?>
    <? //if(!group || group.length < 1) continue; ?>
    <? const check = group[0] ?>
    <? // console.log({check}) ?>

    <? let groupStatus = 'not set' ?>
    <? if (group.map(g => g.status.toString()).includes('failed')) {
    groupStatus = 'failed'
    } ?>
    <? if (group.map(g => g.status.toString()).includes('failed') && group[group.length - 1].status[0] === 'passed') {
    groupStatus = 'blinking'
    } ?>
    <? if (!group.map(g => g.status.toString()).includes('failed')) {
    groupStatus = 'passed'
    } ?>
    <? if (check.status == 'new') {
                    groupStatus = 'new'
                } ?>
    <div class="check col-4 border_ text-secondary mb-3 bg-light  pl-1"
         id="check_<?= check._id ?>" diffId="<?= check.diffId ?>"
         baselineId="<?= check.baselineId ?>"
         checkStatus="<?= groupStatus ?>">
        <? const statusesClasses = {
                        passed: 'bg-success',
                        new: 'bg-info',
                        failed: 'bg-danger',
                        blinking: 'bg-warning'
                    } ?>
        <div class="status-border image-wrapper column <?= statusesClasses[groupStatus] ?> w-100 p-2 m-1">

            <div name="preview-container" class="check-image column baseline m-1"
                 data-toggle="tooltip"
                 data-html="true"
                 data-placement="right"
                 title="Status: [<?= groupStatus ?>]</br>
                                             Name: <?= check.name ?> </br>
                                             Created: <?= check.formattedUpdatedDate ?> </br>
                                             BrowserName: <?= check.browserName ?> </br>
                                             BrowserVersion: <?= check.browserVersion ?> </br>
                                             Viewport: <?= check.viewport ?> </br>
                                             Platform: <?= check.os ?> </br>
                                             Id: <?= check._id ?> </br>
                                             ActualId: <?= check.actualSnapshotId ?></br>
                                             BaselineId: <?= check.baselineId ?></br>">

                <? const snapshootId = groupStatus === 'new' ? check.baselineId : check.actualSnapshotId ?>
<!--                <? //if (groupStatus == 'new' || groupStatus == 'passed' || groupStatus === 'blinking') { ?>-->
<!--                &lt;!&ndash;CHECK LINK&ndash;&gt;-->
<!--                <a href="/checksgroupview?id=<?= check._id ?>" name="<?= check.name ?>" class="group-links-view"-->
<!--                   snapshot="<?= snapshootId ?>" id="grouplink_<?= check._id ?>">-->
<!--                    <div class="preview-overlay-text h4 white bg-maroon"><?= check.viewport ?></div>-->

<!--                    <canvas class="snapshoot-canvas w-100"-->
<!--                            id="canvas_snapshoot_<?= check._id ?>"-->
<!--                    ></canvas>-->
<!--                </a>-->
<!--                <? //} else { ?>-->
                <a href="/checksgroupview?id=<?= check._id ?>" name="<?= check.name ?>" class="group-links-view"
                   snapshot="<?= snapshootId ?>" id="grouplink_<?= check._id ?>">
                    <div class="preview-overlay-text h4 white bg-maroon"><?= check.viewport ?></div>
                    <!--123 -->





                    <canvas class="snapshoot-canvas w-100"
                            id="canvas_snapshoot_<?= check._id ?>"
                    ></canvas>
                </a>
                <? // } ?>
            </div>
            <!-- SNAPSHOT TOOLBAR START-->
            <div class="container pl-0 pr-0">
                <div class="check-mini-toolbar d-flex row justify-content-around1 text-light pl-1 m-0">
                    <!--CHECKBOX-->
                    <div class="col-1 pr-1 pl-1 pt-1">
                        <input name="check-input" id="<?= check._id ?>"
                               actualId="<?= check.actualSnapshotId ?>"
                               baselineId="<?= check.baselineId ?>"
                               type="checkbox">
                    </div>

                    <!-- CHECK NAME AND COUNT-->
                    <?  let checksCount = Object.keys(checksByTestGroupedByIdent[test.id]).filter(x =>
                    x.includes('ident')).length ?>
                    <?  let groupChecksCount = (checksByTestGroupedByIdent[test.id][groupName].checks.length > 1) ?
                    `(${checksByTestGroupedByIdent[test.id][groupName].checks.length})` : '' ?>
                    <div name="check-name"
                         class="col-8 ml-0 mr-0 pt-2 pb-0 float-right1 align-middle text-truncate  small p-0"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="<?= check.name ?>">
                        <?= (index + 1) ?>/<?= checksCount ?>
                        <sup><?= groupChecksCount ?></sup> <?= check.name ?>
                    </div>

                    <!-- CHECK BUTTONS -->
                    <div name="check-buttons"
                         class="col-3 pr-0 pl-0 pt-1 float-right flex-row-reverse1">
                        <div class="container pl-0 pr-0">
                            <div class="row justify-content-end  flex-row-reverse mr-0 ml-1">
                                <div class="col-3 p-0 float-right1">
                                    <a
                                            class="btn-check btn-sm ml-1 rounded-0 border-0"
                                            style="line-height: 0.1; padding: 2px;"
                                            id="checkbutton_<?= check._id ?>"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Remove this check"
                                            onclick="removeOneCheck('<?= check._id ?>', '<?= test.id ?>');">
                                        <i class="fas fa-times-circle fa-1x"></i>
                                    </a>
                                </div>
                                <div class="col-3 ml-0 p-0 float-right1">
                                    <? // if(groupStatus == 'failed') { ?>
                                    <a
                                            class="btn-check btn-sm ml-1  rounded-0 border-0"
                                            style="line-height: 0.1; padding: 2px;"
                                            id="acceptbutton_<?= check._id ?>"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            onclick="acceptOneCheck('<?= check._id ?>', '<?= check.actualSnapshotId ?>', '<?= check.baselineId ?>', '<?= test.id ?>')"
                                            title="Accept the actual snapshoot as baseline"
                                    >

                                        <i class="check-accept-button-check-id_<?= check._id ?> <?= check.markedAs === 'accepted' ? 'accepted-button-icon' : 'not-accepted-button-icon' ?> accept-button-icon fas fa-thumbs-up fa-1x"></i>
                                    </a>
                                    <? // } ?>
                                </div>
                                <div class="col-3 ml-2 p-0 float-right1">
                                    <? if(groupStatus == 'failed') { ?>
                                    <a
                                            class="unlink btn-check btn-outline-success1 btn-sm rounded-0 border-0"
                                            style="line-height: 0.1; padding: 2px;"
                                            id="comparebutton_<?= check._id ?>"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Compare snapshots"
                                            href="diffview?diffid=<?= check.diffId ?>&actualid=<?= check.actualSnapshotId ?>&expectedid=<?= check.baselineId ?>&checkid=<?= check._id ?>">
                                        <i class="fas fa-exchange-alt fa-1x"></i>
                                    </a>
                                    <? } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SNAPSHOT TOOLBAR START-->
        </div>
    </div>

    <? }; ?>

    <!--  foreach checks end-->
</div>
<!-- all-checks-->
<? }; ?>
