node_modules
/baselines/
/baselinesTest/
*.log
.DS_Store
/tests/files/randomImg.png
*.bak
/lib/debug.js
/lib/B.png
/lib/A.png
/lib/rsJsEngine.js
/.idea/
/debug.js
/debug.ts
*.tmp
/debug2.js
/baselineProd/
/static/debug.html
/debug.html
/logs/*
/backups
/data
.env
/src/data/custom_devices.json
/static/data/custom_devices.json
