<div class="pl-2 pr-1 pt-0 pb-1 vcenter-item" style="padding-top: 2px !important;">
    <a class="unlink vcenter-item" href="/" title="Syngrisi (Σύγκριση)">
        <img src="../../../../static/icons/leaf_logo.svg" alt="logo"
             class="logo-header">
        <span class="d-inline-block ml-2 vcenter-item" style="font-size: 1.4rem; margin-top: -1px; font-weight: 400">Syngrisi</span>
    </a>
</div>
