<div class="pl-2 pr-1 pt-0 pb-1 vcenter-item" style="padding-top: 2px !important;">
    <a class="unlink vcenter-item" href="/" title="Syngrisi (Σύγκριση)">
        <img src="../../../../static/icons/leaf_logo.svg" alt="logo"
             class="logo-header">
    </a>
</div>
