<div class="row pl-1">
    <div name="logo-img" class="col-auto pl-3 pr-0 pt-1">
        <div class="pl-1 pr-1 pt-1 pb-1">
            <a class="unlink" href="/">
                <img src="../../../../static/imgs/simpleLogoLightShadow3.png" alt="logo" class=""
                     style="width: 26px ">
            </a>
        </div>
    </div>
    <div class="col pl-1 pt-1 mr-0 text-truncate">
        <!--                    <a class="unlink" href="/">Visual Regression Service</a>-->
        <a class="unlink h3" href="/" title="Σύγκριση">Syngrisi</a>
    </div>
    <div class="col-auto p-0 pt-2">
        <% if(drop) { %>
            <div class="container pt-1">
                <a name="more-suites"
                   type="button"
                   onclick="setSuiteMenuWidth()"
                   data-toggle="collapse"
                   href="#collapseSuiteMenu"
                   aria-expanded="false"
                   aria-controls="collapseSuiteMenu"
                   class="btn btn-secondary border-0 bg-sidebar float-right unlink white" title="more"
                   style="box-shadow: none">

                    <i class="fas fa-caret-down fa-1x float-right "></i>
                </a>
            </div>
        <% } %>
    </div>
    <!--                <div class="col pl-2 pt-1 mr-0 border-top border-bottom border-right rounded-right text-truncate">-->
    <!--                    <a class="unlink" href="/">Visual Regression Service</a>-->
    <!--                </div>-->
</div>
