<div class="row pl-1">
    <div name="logo-img" class="col-auto pl-3 pr-0 pt-1">
        <div class="pl-1 pr-1 pt-0 pb-1">
            <a class="unlink" href="/">
                <img src="../../../../static/icons/leaf_logo.svg" alt="logo" class="logo-header"
                     >
            </a>
        </div>
    </div>
    <div class="col pl-0 mr-0 text-truncate" style="padding-top:6px">
        <a class="unlink h2" href="/" title="Σύγκριση">Syngrisi</a>
    </div>
</div>
