<div class="row pl-1">
    <div name="logo-img" class="col-auto pl-3 pr-0 pt-1">
        <div class="pl-1 pr-1 pt-1 pb-1">
            <a class="unlink" href="/">
                <img src="../../../../static/imgs/simpleLogoLightShadow3.png" alt="logo" class=""
                     style="width: 26px ">
            </a>
        </div>
    </div>
    <div class="col pl-1 pt-1 mr-0 text-truncate">
        <a class="unlink h3" href="/" title="Σύγκριση">Syngrisi</a>
    </div>
</div>
