<a type="button"
   class="btn vcenter-item bg-olive pt-0 pb-0 border-0 header-hover text-light dropdown-toggle1 dropdown-toggle-split"
   title="Click here to switch page view"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="../../../../static/icons/navigation.svg" alt="navigation button" class="navigation-button"
    >
</a>
<div class="dropdown-menu mr-0 dropdown-menu-right" aria-labelledby="navigation" style="z-index: 10000">
    <a class="dropdown-item" style="font-size: 90%" href="/">Suites</a>
    <a class="dropdown-item" style="font-size: 90%" href="/runs">Runs</a>
</div>
