<div class="input-group vcenter-item input-group-sm mt-0 w-50" id="search-wrapper">
    <input id="subheader-search" type="text" aria-describedby="inputGroup-sizing-sm"
           class="form-control border-0 rounded-left vcenter-item" placeholder="Search"
           style="font-size: 0.7rem; box-shadow: none"
           aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append bg-white border-0">
        <button class="btn pr-0 pr-1 text-light no-highlight rounded-0"
                style="font-size: 0.7rem; height: 26px" type="button" onclick="clearSearch();">
            <i id="search-clean-icon" class="bi bi-x-lg text-secondary"></i>
        </button>
    </div>
    <div class="input-group-append rounded-right bg-white border-0" onclick="search();">
        <button class="btn rounded-right  pr-0 pr-1 no-highlight text-light rounded-0"
                style="font-size: 0.7rem; height: 26px" type="button">
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
        </button>
    </div>
</div>
