<div class="suites-menu position-fixed sticky-top1 row pl-1 pt-0 bg-olive collapse light-purple"
     id="collapseSuiteMenu" style="z-index: 9000">
    <div name="text-buttons" class="col ml-0">
        <div class="row justify-content-center">
            <!--                        <div class="col small p-1 text-right">By:</div>-->
            <div class="col p-1 text-center">
                <a href="/" class="btn btn-secondary w-100 bg-olive  border-0 small">suites</a>
            </div>
            <div class="col p-1 text-center">
                <a href="/runs" class="btn btn-secondary w-100 bg-olive border-0 small">runs</a>
            </div>
            <div class="col p-1 text-center">
                <a href="#tests" class="btn btn-secondary w-100 bg-olive border-0 small">tests</a>
            </div>
        </div>
    </div>
    <div name="icon-buttons" class="col-12 ml-0">
        <div class="row justify-content-center">
            <div class="col p-1 text-center">
                <a name="check-all" type="button" class="btn btn-secondary bg-olive border-0"
                   onclick="checkAllItems('<%= itemName %>')"
                   title="check all suites">
                    <input type="checkbox">
                    <!--                                <i class="far fa-check-square fa-lg float-right"></i>-->
                </a>
            </div>
            <div class="col p-1 text-center">
                <a name="reload-suites" type="button" class="btn btn-secondary bg-olive border-0 m-1"
                   onclick="location.reload()"
                   title="reload">
                    <i class="fas fa-sync-alt fa-sm float-right"></i>
                </a>
            </div>
            <div class="col p-1 text-center">
                <a name="delete-suites" type="button" class="btn btn-secondary bg-olive border-0 m-1"
                   title="delete suites and associated items"
                   onclick="removeCheckedSuites()"
                >
                    <i class="fas fa-trash fa-sm float-right red"></i>
                </a>
            </div>
        </div>
    </div>
</div>
