<a class="toggle-sidebar-button no-highlight pt-0 mt-0 pb-0 btn btn-sm header-hover text-light vcenter-item"
   href="javascript:void(0)"
   style="margin-top: 5px"
   onclick="toggleSidebar();" title="show/hide sidebar">
    <i class="fas fa-bars fa-1x"></i>
</a>
