<div name="subheader" class="row bg-headers text-light border-purple border-top1">
    <div class="col">
        <% if(currentItem) { %>
            <a href="?suitename=<%= currentItem.name %>" class="unlink">
                <span><%= currentItem.name %></span>
            </a>
        <% }else{ %>
            <a href="/" class="unlink">
                <span>All tests</span>
            </a>
        <% } %>
    </div>
</div>



