<div name="table-headers" class="row bg-light text-secondary border-purple border-top1 border-bottom mr-0">
    <div name="checkbox-header" class="col-1 col-lg-auto text-truncate small ml-0 mt-1">
        <input name="checkAll" onclick="checkAllTests()" type="checkbox" title="check all tests">
    </div>
    <div name="status-header" class="col-2 col-lg-1 text-truncate btn-check small" onclick="sort2('status')"
         title="click to sort by this field">
        <a href="javascript:void(0)" class="unlink ">Status</a>
        <span id="status_sort" class="small"></span>
    </div>
    <div name="status-name" class="col-4 col-lg-4 text-truncate btn-check small" onclick="sort2('name')"
         title="click to sort by this field">
        <a href="javascript:void(0)" onclick="sort2('name')" class="unlink ">Name</a>
        <span id="name_sort" class="small"></span>
    </div>
    <div name="status-date" class="col-1 col-lg-2 text-truncate btn-check small"
         onclick="sort2('updatedDate')" title="click to sort by this field">
        <a href="javascript:void(0)" onclick="sort2('updatedDate')" class="unlink ">Date</a>
        <span id="updatedDate_sort" class="small"></span>
    </div>
    <div name="status-browser" class="col-1 col-lg-1 pl-3 pr-2 text-truncate btn-check small"
         onclick="sort2('browserName')" title="click to sort by this field">
        <a href="javascript:void(0)" onclick="sort2('browserName')" class="unlink ">Browser</a>
        <span id="browserName_sort" class="small"></span>
    </div>
    <div name="status-os" class="col-1 col-lg-1 pl-3 pr-2 text-truncate btn-check small" onclick="sort2('os')"
         title="click to sort by this field">
        <a href="javascript:void(0)" onclick="sort2('os')" class="unlink ">Platform</a>
        <span id="os_sort" class="small"></span>

    </div>
    <div name="status-viewport" class="col-2 col-lg-2 text-truncate btn-check small"
         onclick="sort2('calculatedViewport')" title="click to sort by this field">
        <a href="javascript:void(0)" onclick="sort2('calculatedViewport')" class="unlink ">Viewport</a>
        <span id="calculatedViewport_sort" class="small"></span>
    </div>
</div>
<script>
    {
        const currentSearch = window.location.search;

        const rProp = new RegExp('sort_(.+?)_');
        const rOrder = new RegExp(`sort_.+?_(.*?)=`);
        let sortorder, sortprop
        if (currentSearch.match(rOrder)) {
            sortorder = currentSearch.match(rOrder)[1];
        }
        if (currentSearch.match(rProp)) {
            sortprop = currentSearch.match(rProp)[1];
        }

        if (!sortprop) {
            document.getElementById(`updatedDate_sort`).innerText = "↑";
        } else {
            if (sortorder === "1") {
                document.getElementById(`${sortprop}_sort`).innerText = "↑";
            } else {
                document.getElementById(`${sortprop}_sort`).innerText = "↓";
            }
        }
    }
</script>
