<% if(currentSuite) { %>
    <a href="?suitename=<%= currentSuite.name %>" class="unlink">
        <span><%= currentSuite.name %></span>
    </a>
<% }else{ %>
    <a href="/" class="unlink">
        <span>All checks</span>
    </a>
<% } %>
