.preview-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 70%;
}

.check-toolbar {
    position: absolute;
    top: 90%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /*opacity: 70%;*/
}

a:hover .preview-overlay-text {
    display: none;
}

.image-wrapper {
    position: relative;
}

.current-menu-item {
    text-decoration: underline;
    background-color: silver;
    opacity: 80%;
}

.header-hover:hover {
    background-color: #42a777 !important;
}

.header-dropdown {
    z-index: 10000;
}

div[name="testinfo"]:nth-of-type(4n+3) {
    background-color: rgba(238, 236, 236, 0.89);

}

/*div.row.test-row:nth-of-type(2n+1) {*/
/*    background-color: blue;*/
/*}*/
/*div.row.test-row:nth-of-type(2n+1) {*/
/*    background-color: red;*/
/*}*/


/*div.row.test-row:nth-of-type(2) {*/
/*    background-color: blue;*/
/*}*/

/*div.row.test-row:nth-of-type(5) {*/
/*    background-color: blue;*/
/*}*/

/*.test-row:nth-of-type(even) {*/
/*    background-color: red;*/
/*}*/

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 40px;
    height: 40px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.not-accepted-button-icon {
    color: #888888;
    background-color: #f3f3f3;
}

.accepted-button-icon {
    color: #2ECC40;
    background-color: #f3f3f3;
}
