<!doctype html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="icon" href="/assets/favicon.bf5828d5.svg">
    <title>Syngrisi</title>
  <script type="module" crossorigin src="/assets/auth.56c48459.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/use-form.799991d3.js">
  <link rel="modulepreload" crossorigin href="/assets/PasswordInput.cde37b22.js">
  <link rel="stylesheet" href="/assets/use-form.ecb4391b.css">
  <link rel="stylesheet" href="/assets/index.42090aad.css">
</head>
<div></div>
<body>
<div id="root" style="position: relative; overflow-y: scroll; height: 100%"></div>

</body>
</html>
