<!doctype html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="icon" href="/assets/favicon.bf5828d5.svg">
    <title>Syngrisi</title>
  <script type="module" crossorigin src="/assets/admin.20ddbdfa.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/use-form.b4bde58e.js">
  <link rel="modulepreload" crossorigin href="/assets/LogicalGroup.ca88f2ba.js">
  <link rel="modulepreload" crossorigin href="/assets/PasswordInput.60da1091.js">
  <link rel="stylesheet" href="/assets/use-form.ecb4391b.css">
</head>
<div></div>
<body style="overflow-y: hidden">
<div id="root" style="position: relative; height: 100%"></div>

</body>
</html>
