<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Change Password</title>
    <link rel="icon" href="../../../static/imgs/simpleLogoLightShadow.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>

<body class="my-login-page">
<section class="h-100">
    <div class="container h-100 bg-image">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="static/imgs/logoPrespective.png" alt="logo">
                </div>
                <div class="card fat content">
                    <div class="card-body">
                        <h4 class="card-title">Change Password</h4>
                        <form method="POST" class="my-login-validation" novalidate="" action="/password">
                            <div class="form-group">
                                <label for="email">Old password</label>
                                <input id="old-password" type="password" class="form-control" name="old-password"
                                       value="" required
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email">New password</label>
                                <input id="new-password" type="password" class="form-control" name="new-password"
                                       value="" required
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email">Retype new password</label>
                                <input id="new-password2" type="password" class="form-control" name="new-password2"
                                       value="" required
                                       autofocus>
                            </div>

                            <label id="error-message" class="text-danger"></label>

                            <div class="form-group m-0">
                                <button id="submit" type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer text-light">
                    Syngrisi v<%= version %>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const info = urlParams.get('info');

    if (info) {
        const errorMessage = document.getElementById("error-message");
        errorMessage.innerText = info;
        errorMessage.style.display = "block";
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="static/js/changepassword.js"></script>
</body>
</html>
