<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Change Password</title>
    <link rel="icon" href="../../../static/images/logos/leaf-logo.svg">
    <link rel="stylesheet" href="./static/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <link rel="stylesheet" href="../../../static/css/common.min.css">
    <link rel="stylesheet" href="../../../static/css/colors.css">
</head>

<body class="my-login-page">
<section class="h-100">
    <div class="container h-100 bg-image">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="../../../static/images/logos/leaf-logo.svg" class="p-1" alt="logo">
                </div>
                <div class="card fat content">
                    <div class="card-body">
                        <h4 class="card-title">Change Administrator Password</h4>
                        <form method="POST" class="my-login-validation" novalidate="" action="/first_run_password">
                            <div id="old_password_group" class="form-group <%= displayOldPassword %>">
                                <label for="email">Old password</label>
                                <input id="old-password" type="password" class="form-control" name="old-password"
                                       value="" required
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email">New password</label>
                                <input id="new-password" type="password" class="form-control" name="new-password"
                                       value="" required
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email">Retype new password</label>
                                <input id="new-password2" type="password" class="form-control" name="new-password2"
                                       value="" required
                                       autofocus>
                            </div>

                            <label id="error-message" class="text-danger"></label>

                            <div class="form-group m-0">
                                <button id="submit" type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer text-light">
                    Syngrisi v<%= version %>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const info = urlParams.get('info');

    if (info) {
        const errorMessage = document.getElementById("error-message");
        errorMessage.innerText = info;
        errorMessage.style.display = "block";
    }
</script>

<script src="./static/js/jquery-3.3.1.slim.min.js"></script>
<script src="./static/js/popper.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/changepassword.js"></script>
</body>
</html>
