<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login Page</title>
    <link rel="icon" href="../../../static/images/logos/leaf-logo.svg">
    <link rel="stylesheet" href="./static/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <link rel="stylesheet" href="../../../static/css/common.min.css">
    <link rel="stylesheet" href="../../../static/css/colors.css">
</head>

<body class="my-login-page">
<section class="h-100" style="overflow: auto;">
    <div class="container h-100 bg-image">
        <div class="row justify-content-md-center h-100">

            <div class="card-wrapper">
                <div class="d-flex flex-row pb-5 pt-5 align-items-center">
                    <div class="col-5 d-flex pr-2 justify-content-end">
                        <img class="login-logo" src="../../../static/images/logos/leaf-logo.svg" alt="logo">
                    </div>
                    <div class="col pl-0 pt-1">
                        <h1 class="login-app-name">Syngrisi</h1>
                    </div>
                </div>
                <div class="card fat content">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form method="POST" class="change-pwd" novalidate="" action="/login?origin=<%= origin %>">
                            <div class="form-group">
                                <input id="email" type="email" class="form-control" name="username"
                                       placeholder="Username" value="" required
                                       autofocus>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="form-group">

                                <input id="password" type="password" class="form-control" placeholder="Password"
                                       name="password" required
                                       data-eye>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="form-group mb-1">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                    <label for="remember" class="custom-control-label">Remember Me</label>
                                </div>
                            </div>
                            <label id="error-message" class="text-danger"></label>

                            <div class="form-group m-0 d-flex justify-content-center w-100">
                                <button id="submit" type="submit"
                                        class="btn text-light btn-block w-50 bg-olive pb-2 pt-2">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer text-light">
                    Syngrisi v<%= version %>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const info = urlParams.get('info');

    if (info) {
        const errorMessage = document.getElementById('error-message');
        errorMessage.innerText = info.toString();
        errorMessage.style.display = 'block';
    }
</script>

<script src="./static/js/jquery-3.3.1.slim.min.js"></script>
<script src="./static/js/popper.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="static/js/login.js"></script>
</body>
</html>
