/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('/assets/roboto-v30-latin-100.0f303f31.woff2') format('woff2'), 
    url('/assets/roboto-v30-latin-100.34e9582c.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('/assets/roboto-v30-latin-regular.f6734f81.woff2') format('woff2'), 
    url('/assets/roboto-v30-latin-regular.f2abf7fb.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('/assets/roboto-v30-latin-500.b0195382.woff2') format('woff2'), 
    url('/assets/roboto-v30-latin-500.9ce7f3ac.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('/assets/roboto-v30-latin-700.f5aebdfe.woff2') format('woff2'), 
    url('/assets/roboto-v30-latin-700.e0fd57c0.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
